{% extends 'base.html' %}

{% block content %}
<h1>
  <i class="fa-solid fa-c fa-flip"></i>
  <i class="fa-solid fa-u fa-beat"></i>
  <i class="fa-solid fa-p fa-bounce"></i>
  <i class="fa-solid fa-c fa-fade"></i>
  <i class="fa-solid fa-a fa-shake"></i>
  <i class="fa-solid fa-k fa-spin"></i>
  <i class="fa-solid fa-e fa-beat-fade"></i>
  <i class="fa-solid fa-s fa-beat-fade fa-spin fa-shake fa-fade fa-bounce fa-beat fa-flip"></i>
</h1>

<ul id="cupcakes-list">
</ul>

<h2>Add a new cupcake!</h2>

<form id="new-cupcake-form">
  <div>
    <label for="form-flavor">Flavor: </label>
    <input name="flavor" id="form-flavor">
  </div>

  <div>
    <label for="form-size">Size: </label>
    <input name="size" id="form-size">
  </div>

  <div>
    <label for="form-rating">Rating: </label>
    <input type="number" name="rating" id="form-rating">
  </div>

  <div>
    <label for="form-image">Image: </label>
    <input name="image" id="form-image">
  </div>

  <button>Add!</button>
</form>



{% endblock %}